[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydrive = "*"
telethon = "*"
pytelegrambotapi = "*"
toml = "*"
sqlalchemy = "*"
aiohttp = "*"
httplib2 = "==0.15.0"

[dev-packages]
pytest = "*"
blue = "*"
isort = "*"
ruff = "*"

[requires]
python_version = "3.11"
